# ELABORAR RELATÓRIO ANALÍTICO DE DATA SCIENCE
**Integrantes:**
* ALEXANDRE FERNANDES DE OLIVEIRA BESSA
* LUAN DOS SANTOS BARBOSA
* LUIS VITOR GOMES ALVES DA SILVA
* PEDRO HENRIQUE TEBERGES CAVALCANTI
* RYANDRO DA SILVA TAVARES

**Informação do DataFrame**
* Nome do DataFrame: "1000 Most Trending YouTube Videos"
* Link do DataFrame: https://www.kaggle.com/datasets/samithsachidanandan/1000-most-trending-youtube-videos

**Justificativa**
* O motivo da escolha foi para apresentação dos dados de forma clara e um material mais simples de ser trabalhado.

# 1. Importação do Dataset e biblioteca

No código a seguir importamos as bibliotecas Pandas, Numpy e Seaborn

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Logo a seguir salvamos o nosso DataFrame, usando a biblioteca pandas e o comando pd.read_csv para ler o arquivo e salvar no df

In [2]:
df = pd.read_csv('top-1000-trending-youtube-videos.csv')

# 2. Análise Estrutural do Dataset

Exibição das informações gerais do DataFrame

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        973 non-null    object
 4   Dislikes     687 non-null    object
 5   Category     820 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

Exibição das 10 primeiras linhas do DataFrame

In [4]:
df.head(10)

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,643,904,918","44,861,602",NaN,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,"236,085,971",38,NaN,NaN,2021
5,6,JP Saxe - If the World Was Ending (Official Vi...,"76,834,495","804,353","21,195",Music,2019
6,7,David Kushner - Daylight (Official Music Video),"18,558,390","680,732",NaN,Music,2023
7,8,Power Star Pawan Kalyan Special Surprise To Se...,"96,686","1,007",82,Entertainment,2018
8,9,Kulit Kamu Kulit Kering dan Sensitif? Pakai Av...,"9,605,969",6,NaN,NaN,2023
9,10,Totti with a funny penalty,"8,353,318","5,613","1,082",Sports,2007

Exibição das 10 últimas linhas do DataFrame

In [5]:
df.tail(10)

,rank,Video,Video views,Likes,Dislikes,Category,published
990,991,ITS Coop Travel - Traumhafte Ferien (kurz),"1,263,044",2,5,Travel & Events,2017
991,992,It Got Grandma!: Chimp at Zoo Throws Poo in Gr...,"3,975,037","24,800","1,387",Pets & Animals,2017
992,993,2017 0401 s10 Toruń Bydgoszcz,"1,273,971","3,076",454,Entertainment,2017
993,994,Eagles Fan Gets Wrecked by Pole,"706,418",877,40,Film & Animation,2018
994,995,UltraTap - новости из соцсетей,"498,038",706,"1,533",People & Blogs,2017
995,996,CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...,"943,248","2,949",22,Music,2017
996,997,John McEnroe's most famous outburst happened i...,"4,853,621","7,254",426,Sports,2010
997,998,Adi Golan's Group - Teaser,"56,578",NaN,NaN,Music,2014
998,999,Keg tapping goes horribly wrong.,"751,804","3,427",313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,"554,438",184,8,News & Politics,2016

Alteração do nome das colunas para nomes sugestivos e em português

In [6]:
df_auxiliar = df.rename(columns={'rank': 'Rank', 'Video': 'Vídeo', 'Video views': 'Visualizações', 'Likes': 'Curtidas', 'Dislikes': 'Desgostos', 'Category': 'Categoria', 'published': 'Publicado'})
df_auxiliar

,Rank,Vídeo,Visualizações,Curtidas,Desgostos,Categoria,Publicado
0,1,"20 Tennis shots if they were not filmed, NOBOD...","3,471,237","19,023",859,NaN,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,"54,071,677","3,497,955","78,799",Music,2019
2,3,JoJo Siwa - Karma (Official Video),"34,206,747","293,563",NaN,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,"6,643,904,918","44,861,602",NaN,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,"236,085,971",38,NaN,NaN,2021
...,...,...,...,...,...,...,...
995,996,CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...,"943,248","2,949",22,Music,2017
996,997,John McEnroe's most famous outburst happened i...,"4,853,621","7,254",426,Sports,2010
997,998,Adi Golan's Group - Teaser,"56,578",NaN,NaN,Music,2014
998,999,Keg tapping goes horribly wrong.,"751,804","3,427",313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,"554,438",184,8,News & Politics,2016

Agora iremos fazer a verificação de valores ausentes ou nulos, valores duplicados e tipos inconsistentes.
* Utilizamos o df.info() para uma visualização geral de todos os dados (apensar de fazer cada código separado logo a seguir também).

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         1000 non-null   int64
 1   Video        1000 non-null   object
 2   Video views  1000 non-null   object
 3   Likes        973 non-null    object
 4   Dislikes     687 non-null    object
 5   Category     820 non-null    object
 6   published    1000 non-null   int64
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

Verificamos se o dataframe possui valores ausentes ou nulos

In [8]:
df.isnull().sum()

rank             0
Video            0
Video views      0
Likes           27
Dislikes       313
Category       180
published        0
dtype: int64

Verificamos se o dataframe possui valores duplicados.
* Sobre os valores duplicados percebemos que o mesmo não possui nenhum valor duplicado logo não é necessario fazer o tratamento do mesmo

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [rank, Video, Video views, Likes, Dislikes, Category, published]
Index: []

Verificamos se possui valores inconsistente
* Colunas como 'Video views', 'Likes' e 'Dislikes' estão sendo tratados como Object apesar de serem apenas "Número".

In [10]:
df.dtypes

rank            int64
Video          object
Video views    object
Likes          object
Dislikes       object
Category       object
published       int64
dtype: object

# 3. Verificação e Tratamento de Dados

Nos códigos a seguir, tratamos 4 colunas que foi anteriomente analisada.
* Primeiro removemos as ',' das strings (Object). **Código: str.replace(',', '')**
* Depois preenchemos os valores ausentes ou nulos por 0. **Código: fillna(0)**
* E finalizamos convertendo o tipo da coluna para inteiro. **Código: astype(int)**

In [11]:
df['Video views'] = df['Video views'].str.replace(',', '').fillna(0).astype(int)
df['Likes'] = df['Likes'].str.replace(',', '').fillna(0).astype(int)
df['Dislikes'] = df['Dislikes'].str.replace(',', '').fillna(0).astype(int)

Seguindo a mesma lógia do anterior, porém tratamos somente os valores nulos, na coluna 'Category', os valores nulos agora serão 'Sem categoria'.

In [12]:
df['Category'] = df['Category'].fillna('Sem categoria')

O código a seguir remove um registro considerando valores duplicados da coluna em questão
* Porém anteriomente foi analisado que a tabela em questão não possui valores duplicados, o que arrecada de não precisar a execução do código a seguir.

In [13]:
df = df.drop_duplicates(subset=['Video'])

Impressão na tela de como está o dataframe após o tratamento dos dados.

In [14]:
df

,rank,Video,Video views,Likes,Dislikes,Category,published
0,1,"20 Tennis shots if they were not filmed, NOBOD...",3471237,19023,859,Sem categoria,2017
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,0,Music,2024
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,0,Music,2015
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,236085971,38,0,Sem categoria,2021
...,...,...,...,...,...,...,...
995,996,CALIFORNIA - MONDAY JUSTICE FEAT. SNOOP DOGG (...,943248,2949,22,Music,2017
996,997,John McEnroe's most famous outburst happened i...,4853621,7254,426,Sports,2010
997,998,Adi Golan's Group - Teaser,56578,0,0,Music,2014
998,999,Keg tapping goes horribly wrong.,751804,3427,313,Entertainment,2017
999,1000,LIVE Hurricane Irma - Downtown Orlando - Ameri...,554438,184,8,News & Politics,2016

# 4. Manipulação de DataFrame

No código a seguir criamos duas amostras com 100 registros cada e logo a seguir é impresso na tela a 'amostra1' e 'amostra2'

In [15]:
amostra1 = df.sample(100)
amostra2 = df.sample(100)

In [16]:
print(amostra1)

     rank                                              Video  Video views  \
251   252  Crocodile attacks couple  in Zimbabwe , Kariba...      4422005
649   650  Elizabeth Banks Introduces The Snake Rewards P...      1019641
802   803                            touch n go hercules R/C       693502
74     75                          Orangutan loves baby bump      5989058
469   470  Red Suit || Official HD Video || Latest Punjab...      1080296
..    ...                                                ...          ...
553   554  Unlikely couple: Liaison between a Sika deer a...      3126743
493   494  Insano - The biggest waterslide of the world -...      2429774
640   641                                 Billie Jean (Live)      1240220
207   208  Devils Fingers or Octopus Fungus Clathrus arch...      6705396
713   714  Rubi de #LosXvdeRubi abucheada en los Premios ...       601433

     Likes  Dislikes          Category  published
251    879       338    Pets & Animals       2016
649     39         0     Sem categoria       2022
802    226        19     Entertainment       2007
74    4282       282             Music       2016
469   2237        61             Music       2017
..     ...       ...               ...        ...
553   1009       474    Pets & Animals       2017
493    743       218            Comedy       2009
640   3198        67     Entertainment       2006
207    791        42  Autos & Vehicles       2014
713   2164       524    People & Blogs       2017

[100 rows x 7 columns]

In [17]:
print(amostra2)

     rank                                              Video  Video views  \
111   112  Massimo Pericolo - Moneylove (Visual Video) ft...      3824053
187   188                   Natalie Jane - AVA (Lyric Video)      1592225
741   742                  מהפכת הגגות הסולאריים יוצאת לדרך!       980441
727   728  Scuba instructor pulls kitchen knife out of sh...      2083069
336   337                             Noble Official Trailer      2110253
..    ...                                                ...          ...
182   183                                Safe Sleep for Baby      3400850
288   289                         BACILOS LA CARA DE LA LUNA      2142731
82     83  The ultimate seduction: Funny & bizarre slideshow     81744457
810   811                                    ホッキョクグマ　赤ちゃんの悲劇      1206374
611   612  בפנטן טיפות עיניים, עכשיו באריזת בקבוק חדשה! ל...      1606955

     Likes  Dislikes        Category  published
111  36936         0           Music       2023
187  59621         0           Music       2022
741      5         1   Sem categoria       2019
727   1962       175  People & Blogs       2017
336    146         6   Sem categoria       2015
..     ...       ...             ...        ...
182    181       156       Education       2011
288   2971        89           Music       2008
82       0         0          Comedy       2008
810    199       260  Pets & Animals       2009
611      2         0   Sem categoria       2019

[100 rows x 7 columns]

Agora iremos criar um Dataframe auxiliar, remove uma coluna caso todos os valores sejá nulos e tratar os que são pacialmente nulos.
* Será realizado uma cópia do origial para um auxiliar.
* Como todos os valores já foram tratados anteriomente o DataFrame auxiliar não ira precisar de tratamento.
* Apesar de tudo isso segue o código de como tratar sobre o problema caso o mesmo exista.

Cópia do DataFrame

In [18]:
df_auxiliar = df.copy()

A seguir removemos uma coluna inteira caso todos os valores do mesmo sejá nulos
* Utilizando o comando 'dropna' para remover a coluna
* Continuando com o comando 'axis=1' para identificar que será tratado somente sobre colunas. (axis=0 é sobre linhas)
* Finalizando com o comando 'how='all' onde indentifica se todos os valores são nulos.

In [19]:
df_auxiliar = df_auxiliar.dropna(axis=1, how='all')

Agora iremos tratar apenas os valos que são nulos pacialmente

In [20]:
for coluna in df_auxiliar.columns:
    if df_auxiliar[coluna].isnull().any(): # Aqui será indentificado se existe pelomenos algum valor nulo

        if df_auxiliar[coluna].dtype == 'object': # Se o tipo da coluna for object, ira remove os valos nulos por string vazias
            df_auxiliar[coluna] = df_auxiliar[coluna].fillna('')

        else: # Se não, ira remover os valores nulos e colocar um 0 no lugar.
            df_auxiliar[coluna] = df_auxiliar[coluna].fiina(0)

Utilizamos a coluna 'Category' como base para criar um agrupamento.
* Usando o comando **'unique()'** agrupamos a coluna.
* Depois é impresso na tela as 10 categorias com mais vídeos para demonstrar a funcionalidade melhor.

In [21]:
categoria = df['Category'].unique().tolist()

categoria

['Sem categoria',
 'Music',
 'Entertainment',
 'Sports',
 'Comedy',
 'People & Blogs',
 'Gaming',
 'Pets & Animals',
 'Autos & Vehicles',
 'Education',
 'Film & Animation',
 'News & Politics',
 'Howto & Style',
 'Travel & Events',
 'Nonprofits & Activism',
 'Science & Technology']

In [22]:
df['Category'].value_counts().head(10)

Category
Music               281
Sem categoria       178
People & Blogs      171
Entertainment        96
Comedy               63
Sports               44
Autos & Vehicles     36
Film & Animation     29
Pets & Animals       19
Gaming               17
Name: count, dtype: int64

Quantidade de vídeos lançados após o ano de 2020
* Criamos uma variável chamada 'df_filtro' e logo a seguir é realizado se na coluna 'published' possui valores maiores de 2020.

In [23]:
df_filtro = df[df['published'] > 2020]

df_filtro

,rank,Video,Video views,Likes,Dislikes,Category,published
2,3,JoJo Siwa - Karma (Official Video),34206747,293563,0,Music,2024
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,236085971,38,0,Sem categoria,2021
6,7,David Kushner - Daylight (Official Music Video),18558390,680732,0,Music,2023
8,9,Kulit Kamu Kulit Kering dan Sensitif? Pakai Av...,9605969,6,0,Sem categoria,2023
10,11,Babilala ที่ทั้งแม่และลูกชื่นชอบนั้นคืออะไร?,8718326,46,0,Sem categoria,2021
...,...,...,...,...,...,...,...
918,919,What happened with petrol ⛽️ theif?,86474636,770294,0,People & Blogs,2025
919,920,Nanpa Básico - Cuando Vienes (Official Video),686747,24507,0,Music,2024
920,921,走れSAKAMOTO / Vaundy：MUSIC VIDEO,2945781,25949,0,Music,2025
921,922,Whiplash,26339205,125508,0,Music,2024
922,923,ETA (RMX),1036672,33644,0,Music,2024

# 5. Elaboração de perguntas iniciais e interpretações

Pergunta 1: Qual o ano que teve mais lançamentos de vídeos?
* De acordo com o código o ano 2017 foi o que teve mais vídeos lançados

In [24]:
df['published'].value_counts().head(5)

published
2017    131
2024     88
2007     84
2023     63
2019     59
Name: count, dtype: int64

Pergunta 2: Qual a categoria que teve mais visualizações?

* Primeiro foi criado uma variável para juntar as colunas Category e Video views.
* Depois foi ordenado do maior para o menor com base nas visualizações e impresso os 3 maiores para medida de comparação.

In [25]:
df_agrupada = df.groupby('Category')['Video views'].sum()
df_agrupada = df_agrupada.sort_values(ascending=False).head(3)

df_agrupada

Category
Music             16262064867
People & Blogs     2674793607
Sem categoria      1944203832
Name: Video views, dtype: int64

Pergunta 3: Qual o vídeo teve mais likes?
* Utilizando o comando **'sort_values'** na coluna 'Likes' é ordenado do maior para o menor.
* Logo a seguir é impresso na tela os 3 maiores vídeos para medida de comparação.

In [26]:
topvideolikes = df.sort_values('Likes', ascending=False).head(3)

topvideolikes

,rank,Video,Video views,Likes,Dislikes,Category,published
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,0,Music,2015
40,41,"Pedro Capó, Farruko - Calma (Remix - Official ...",2993030499,13840531,0,Music,2018
125,126,"ROSALÍA, J Balvin - Con Altura (Official Video...",2224022798,9802981,0,Music,2019

Pergunta 4: Qual o vídeo teve mais dislikes?
* Utilizando o comando **'sort_values'** na coluna 'Dislikes' é ordenado do maior para o menor.
* Logo a seguir é impreso na tela os 3 maiores vídeos para medida de comparação.

In [27]:
topvideodislikes = df.sort_values('Dislikes', ascending=False).head(3)

topvideodislikes

,rank,Video,Video views,Likes,Dislikes,Category,published
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019
94,95,Olivia Rodrigo - drivers license (Official Video),68224979,3810456,48539,Music,2021
31,32,"Biggest Snake of the World for Sale, 25 000 €",55113253,3957,46705,Entertainment,2008

Pergunta 5: Qual vídeo teve a maior taxa de likes por views?

#### Linha 1:
* Foi criado uma nova coluna no dataframe **'Likes por 100 views'**.
* Logo a seguir é calculado a proporção de likes por views onde a fórmula é " Likes/Visualizações * 100 "
* O comando **'round()'** é utilizado para arrendondar as casas decimais para 0

#### Linha 2:
* O comando **'idxmax()'** é utilizado para encontrar o maior valor da coluna **'Likes por 100 views'**.
* O comando **'df.loc[]'** é utilizado para acessar a linha completa da coluna **'Likes por 100 views'**.

In [28]:
df['Likes per 100 views'] = ((df['Likes'] / df['Video views']) * 100).round()
video_top = df.loc[df['Likes per 100 views'].idxmax()]

Agora é impresso na tela de forma limpa o video que teve a maior taxa de likes por visualizações
* Nome do vídeo, quantidade de likes, Quantidade de visualizações e a taxa em proporção a curtidas por 100 visualizações

In [29]:
print("Vídeo com melhor taxa de likes por 100 views:")
print(video_top[['Video', 'Likes', 'Video views', 'Likes per 100 views']])

Vídeo com melhor taxa de likes por 100 views:
Video                  Luke Hemmings - Starting Line (Official Video)
Likes                                                          129469
Video views                                                    635002
Likes per 100 views                                              20.0
Name: 871, dtype: object

# 6. Código extra, apenas um complemento e testes.

É realizado 3 códigos e impresso na tela logo a seguir.
* Primeiro é criado uma variável para cada linha.
* É calculado o total de visualizações.
* É buscado o maior e menor vídeo com base nas visualizações

In [30]:
total_views = df['Video views'].sum()
maximo_views = df['Video views'].max()
minimo_views = df['Video views'].min()

In [31]:
print('Total de visualizações foi: ', total_views)
print('Vídeo com mais visualizações teve: ', maximo_views)
print('Vídeo com menos visualizações teve: ', minimo_views)

Total de visualizações foi:  24747018694
Vídeo com mais visualizações teve:  6643904918
Vídeo com menos visualizações teve:  56578

A seguir criamos mais 3 códigos onde será tratados os 10 maiores.
* É buscado os 10 maiores vídeos com views
* 10 maiores vídeos com likes
* 10 maiores vídeos com dislikes

In [32]:
top10Views = df.sort_values(by='Video views', ascending=False).head(10)
top10Likes = df.sort_values(by='Likes', ascending=False).head(10)
top10Dislikes = df.sort_values(by='Dislikes', ascending=False).head(10)

Top 10 maiores vídeos com base nas Views

In [33]:
top10Views

,rank,Video,Video views,Likes,Dislikes,Category,published,Likes per 100 views
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,0,Music,2015,1.0
40,41,"Pedro Capó, Farruko - Calma (Remix - Official ...",2993030499,13840531,0,Music,2018,0.0
321,322,"Jhay Cortez, J. Balvin, Bad Bunny - No Me Cono...",2399769757,6684120,0,Music,2019,0.0
125,126,"ROSALÍA, J Balvin - Con Altura (Official Video...",2224022798,9802981,0,Music,2019,0.0
29,30,"6ix9ine - FEFE ft. Nicki Minaj, Murda Beatz",1097393695,9038575,0,People & Blogs,2018,1.0
465,466,BallsCrash,280745872,64224,21652,Comedy,2009,0.0
4,5,伊賀の天然水強炭酸水「家族で、シュワシェア。」篇 15秒,236085971,38,0,Sem categoria,2021,0.0
371,372,Rocket Blast Off #messingaround #flying #fun #...,156690686,1868300,0,Sports,2024,1.0
90,91,Barack Obama Hillary Clinton - Umbrella,148996976,36190,20698,Comedy,2008,0.0
538,539,A kind-hearted elderly person rescued an injur...,146925966,1616667,0,People & Blogs,2025,1.0

Top 10 maiores vídeos com base nos Likes

In [34]:
top10Likes

,rank,Video,Video views,Likes,Dislikes,Category,published,Likes per 100 views
3,4,Wiz Khalifa - See You Again ft. Charlie Puth [...,6643904918,44861602,0,Music,2015,1.0
40,41,"Pedro Capó, Farruko - Calma (Remix - Official ...",2993030499,13840531,0,Music,2018,0.0
125,126,"ROSALÍA, J Balvin - Con Altura (Official Video...",2224022798,9802981,0,Music,2019,0.0
29,30,"6ix9ine - FEFE ft. Nicki Minaj, Murda Beatz",1097393695,9038575,0,People & Blogs,2018,1.0
321,322,"Jhay Cortez, J. Balvin, Bad Bunny - No Me Cono...",2399769757,6684120,0,Music,2019,0.0
94,95,Olivia Rodrigo - drivers license (Official Video),68224979,3810456,48539,Music,2021,6.0
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019,6.0
369,370,😭,101094612,3259676,0,Entertainment,2025,3.0
539,540,Drawing the pillar of life🥶🗿#trollface #trollf...,133062446,3173002,0,People & Blogs,2025,2.0
846,847,Insta Vs Reality 😲😍 #travel #unrealplaces #exp...,73165517,2967591,0,Travel & Events,2024,4.0

Top 10 maiores vídeos com base nos Dislikes

In [35]:
top10Dislikes

,rank,Video,Video views,Likes,Dislikes,Category,published,Likes per 100 views
1,2,Lil Nas X - Old Town Road (Official Movie) ft....,54071677,3497955,78799,Music,2019,6.0
94,95,Olivia Rodrigo - drivers license (Official Video),68224979,3810456,48539,Music,2021,6.0
31,32,"Biggest Snake of the World for Sale, 25 000 €",55113253,3957,46705,Entertainment,2008,0.0
56,57,Why athletes should wear pants,17802747,2935,46151,Sports,2008,0.0
447,448,RickRoll'D,78178105,318037,44953,Music,2007,0.0
946,947,Brave Kitten Stands Up to Dog,45622964,98565,38062,Entertainment,2011,0.0
43,44,JD Pantoja - 12•19 (Official Video),7010732,1027392,34185,Music,2020,15.0
972,973,Выборы 2018. Шокирующий фильм Никиты Михалкова...,2056243,5762,28321,Nonprofits & Activism,2017,0.0
226,227,If you watch this 100 times you'll still laugh !,45597951,97649,27835,Comedy,2008,0.0
465,466,BallsCrash,280745872,64224,21652,Comedy,2009,0.0